In [26]:
"""Cleaning data"""
# Import pandas
import pandas as pd

# Read the file into a DataFrame: df
df = pd.read_csv('dob_job_application_filings_subset.csv')

# Print the head of df
print(df.head())

# Print the tail of df
print(df.tail())

# Print the shape of df
print(df.shape)

# Print the columns of df
print(df.columns)

       Job #  Doc #        Borough       House #  \
0  121577873      2      MANHATTAN  386
1  520129502      1  STATEN ISLAND  107
2  121601560      1      MANHATTAN  63
3  121601203      1      MANHATTAN  48
4  121601338      1      MANHATTAN  45

                        Street Name  Block  Lot    Bin # Job Type Job Status  \
0  PARK AVENUE SOUTH                   857   38  1016890       A2          D
1  KNOX PLACE                          342    1  5161350       A3          A
2  WEST 131 STREET                    1729    9  1053831       A2          Q
3  WEST 25TH STREET                    826   69  1015610       A2          D
4  WEST 29 STREET                      831    7  1015754       A3          D

            ...                         Owner's Last Name  \
0           ...            MIGLIORE
1           ...            BLUMENBERG
2           ...            MARKOWITZ
3           ...            CASALE
4           ...            LEE

              Owner's Business Name Owner's House Number  \
0  MACKLOWE MANAGEMENT                      126
1  NA                                       107
2  635 RIVERSIDE DRIVE NY LLC               619
3  48 W 25 ST LLC C/O BERNSTEIN             150
4  HYUNG-HYANG REALTY CORP                  614

           Owner'sHouse Street Name            City  State      Zip  \
0  EAST 56TH STREET                  NEW YORK           NY  10222.0
1  KNOX PLACE                        STATEN ISLAND      NY  10314.0
2  WEST 54TH STREET                  NEW YORK           NY  10016.0
3  WEST 30TH STREET                  NEW YORK           NY  10001.0
4  8 AVENUE                          NEW YORK           NY  10001.0

  Owner'sPhone #                                    Job Description  \
0   2.125546e+09  GENERAL MECHANICAL & PLUMBING MODIFICATIONS AS...
1   3.477399e+09  BUILDERS PAVEMENT PLAN 143 LF.                ...
2   2.127653e+09  GENERAL CONSTRUCTION TO INCLUDE NEW PARTITIONS...
3   2.125941e+09  STRUCTURAL CHANGES ON THE 5TH FLOOR (MOONDOG E...
4   2.019881e+09  FILING HEREWITH FACADE REPAIR PLANS. WORK SCOP...

               DOBRunDate
0  04/26/2013 12:00:00 AM
1  04/26/2013 12:00:00 AM
2  04/26/2013 12:00:00 AM
3  04/26/2013 12:00:00 AM
4  04/26/2013 12:00:00 AM

[5 rows x 82 columns]
          Job #  Doc #    Borough       House #  \
3954  420841557      1     QUEENS  71-26
3955  121612255      1  MANHATTAN  1113
3956  121589003      1  MANHATTAN  4
3957  121614217      1  MANHATTAN  24
3958  320753706      1   BROOKLYN  241

                           Street Name  Block  Lot    Bin # Job Type  \
3954  58TH AVENUE                        2819   82  4063192       A2
3955  YORK AVENUE                        1455   21  1045277       A3
3956  TIMES SQUARE                        995    5  1085682       A3
3957  WEST 8TH STREET                     551   22  1008858       A2
3958  11TH STREET                        1015   46  3022488       DM

     Job Status           ...                         Owner's Last Name  \
3954          P           ...            MARANON
3955          R           ...            PENDER
3956          R           ...            BUETTNER
3957          D           ...            BUCHBINDER
3958          E           ...                                       NaN

                 Owner's Business Name Owner's House Number  \
3954  N/A                                      71-26
3955  SAFWAY ATLANTIC, LLC                     700
3956  YORK SCAFFOLD EQUIPMENT CORP.            37-20
3957  JEN & CO LLC                             1
3958                               NaN                  NaN

              Owner'sHouse Street Name            City  State      Zip  \
3954  58TH AVENUE                       QUEENS             NY  11378.0
3955  COMMERCIAL AVENUE                 CARLSTADT          NJ   7072.0
3956  12 STREET                         LIC                NY  11101.0
3957   UNION SQUARE WEST                NEW YORK           NY  10003.0
3958                               NaN              NaN   NaN      NaN

     Owner'sPhone #                                    Job Description  \
3954   7.189308e+09  MINOR WORK TO BE DONE AS PER PLANS. NO CHANGE ...
3955   2.016366e+09  INSTALLATION OF OVERHEAD PROTECTION AS PER DRA...
3956   7.187847e+09  INSTALLATION OF 280 LINEAR FEET OF HEAVY DUTY ...
3957   2.122437e+09  DEMOLISH AND CONSTRUCT INTERIOR PARTITIONS, CE...
3958            NaN                                                NaN

                  DOBRunDate
3954  05/10/2013 12:00:00 AM
3955  05/10/2013 12:00:00 AM
3956  05/10/2013 12:00:00 AM
3957  05/10/2013 12:00:00 AM
3958                     NaN

[5 rows x 82 columns]
(3959, 82)
Index(['Job #', 'Doc #', 'Borough', 'House #', 'Street Name', 'Block', 'Lot',
       'Bin #', 'Job Type', 'Job Status', 'Job Status Descrp',
       'Latest Action Date', 'Building Type', 'Community - Board', 'Cluster',
       'Landmarked', 'Adult Estab', 'Loft Board', 'City Owned', 'Little e',
       'PC Filed', 'eFiling Filed', 'Plumbing', 'Mechanical', 'Boiler',
       'Fuel Burning', 'Fuel Storage', 'Standpipe', 'Sprinkler', 'Fire Alarm',
       'Equipment', 'Fire Suppression', 'Curb Cut', 'Other',
       'Other Description', 'Applicant's First Name', 'Applicant's Last Name',
       'Applicant Professional Title', 'Applicant License #',
       'Professional Cert', 'Pre- Filing Date', 'Paid', 'Fully Paid',
       'Assigned', 'Approved', 'Fully Permitted', 'Initial Cost',
       'Total Est. Fee', 'Fee Status', 'Existing Zoning Sqft',
       'Proposed Zoning Sqft', 'Horizontal Enlrgmt', 'Vertical Enlrgmt',
       'Enlargement SQ Footage', 'Street Frontage', 'ExistingNo. of Stories',
       'Proposed No. of Stories', 'Existing Height', 'Proposed Height',
       'Existing Dwelling Units', 'Proposed Dwelling Units',
       'Existing Occupancy', 'Proposed Occupancy', 'Site Fill', 'Zoning Dist1',
       'Zoning Dist2', 'Zoning Dist3', 'Special District 1',
       'Special District 2', 'Owner Type', 'Non-Profit', 'Owner's First Name',
       'Owner's Last Name', 'Owner's Business Name', 'Owner's House Number',
       'Owner'sHouse Street Name', 'City ', 'State', 'Zip', 'Owner'sPhone #',
       'Job Description', 'DOBRunDate'],
      dtype='object')

In [ ]:
"""Visual EDA"""
# Import matplotlib.pyplot
import matplotlib.pyplot as plt

# Plot the histogram
df['Existing Zoning Sqft'].plot(kind='hist', rot=70, logx=True, logy=True)

# Display the histogram
plt.show()
plt.clf()

# Create the boxplot
df.boxplot(column='initial_cost', by='Borough', rot=90)

# Display the plot
plt.show()

# Create and display the first scatter plot
df.plot(kind='scatter', x='initial_cost', y='total_est_fee', rot=70)
plt.show()

# Create and display the second scatter plot
df_subset.plot(kind='scatter',x='initial_cost',y='total_est_fee',rot=70)
plt.show()

In [54]:
"""Melt"""
# Read the data from csv
airquality=pd.read_csv('airquality.csv')

# Print the head of airquality
print(airquality.head())

# Melt airquality: airquality_melt
airquality_melt = pd.melt(frame=airquality,id_vars=['Month','Day'],value_vars=['Ozone','Solar.R','Wind','Temp'])

# Print the head of airquality_melt
print(airquality_melt.head())

# Melt airquality: airquality_melt
airquality_melt = pd.melt(frame=airquality,id_vars=['Month','Day'], var_name='measurement',value_name='reading')

# Print the head of airquality_melt
print(airquality_melt.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
   Month  Day variable  value
0      5    1    Ozone   41.0
1      5    2    Ozone   36.0
2      5    3    Ozone   12.0
3      5    4    Ozone   18.0
4      5    5    Ozone    NaN
   Month  Day measurement  reading
0      5    1       Ozone     41.0
1      5    2       Ozone     36.0
2      5    3       Ozone     12.0
3      5    4       Ozone     18.0
4      5    5       Ozone      NaN

In [62]:
"""Pivot, Pivot table and handling missing values"""
# Print the head of airquality_melt
print(airquality_melt.head())

# Pivot airquality_melt: airquality_pivot
airquality_pivot = airquality_melt.pivot_table(index=['Month','Day'], columns='measurement', values='reading',aggfunc=np.mean)

# Print the head of airquality_pivot
print(airquality_pivot.head())

# Print the index of airquality_pivot
print(airquality_pivot.index)

# Reset the index of airquality_pivot: airquality_pivot
airquality_pivot = airquality_pivot.reset_index()

# Print the new index of airquality_pivot
print(airquality_pivot.index)

# Print the head of airquality_pivot
print(airquality_pivot.head())

   Month  Day measurement  reading
0      5    1       Ozone     41.0
1      5    2       Ozone     36.0
2      5    3       Ozone     12.0
3      5    4       Ozone     18.0
4      5    5       Ozone      NaN
measurement  Ozone  Solar.R  Temp  Wind
Month Day
5     1       41.0    190.0  67.0   7.4
      2       36.0    118.0  72.0   8.0
      3       12.0    149.0  74.0  12.6
      4       18.0    313.0  62.0  11.5
      5        NaN      NaN  56.0  14.3
MultiIndex(levels=[[5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]],
           names=['Month', 'Day'])
RangeIndex(start=0, stop=153, step=1)
measurement  Month  Day  Ozone  Solar.R  Temp  Wind
0                5    1   41.0    190.0  67.0   7.4
1                5    2   36.0    118.0  72.0   8.0
2                5    3   12.0    149.0  74.0  12.6
3                5    4   18.0    313.0  62.0  11.5
4                5    5    NaN      NaN  56.0  14.3

In [68]:
"""Splitting data using str"""
# Melt tb: tb_melt
tb=pd.read_csv('tb.csv')
print(tb.head(10))
tb_melt = pd.melt(frame=tb, id_vars=['country', 'year'])

# Create the 'gender' column
tb_melt['gender'] = tb_melt.variable.str[0]

# Create the 'age_group' column
tb_melt['age_group'] = tb_melt.variable.str[1:]

# Print the head of tb_melt
print(tb_melt.head())

  country  year   m014  m1524   m2534  m3544  m4554  m5564    m65  mu   f014  \
0      AD  2000    0.0    0.0     1.0    0.0    0.0    0.0    0.0 NaN    NaN
1      AE  2000    2.0    4.0     4.0    6.0    5.0   12.0   10.0 NaN    3.0
2      AF  2000   52.0  228.0   183.0  149.0  129.0   94.0   80.0 NaN   93.0
3      AG  2000    0.0    0.0     0.0    0.0    0.0    0.0    1.0 NaN    1.0
4      AL  2000    2.0   19.0    21.0   14.0   24.0   19.0   16.0 NaN    3.0
5      AM  2000    2.0  152.0   130.0  131.0   63.0   26.0   21.0 NaN    1.0
6      AN  2000    0.0    0.0     1.0    2.0    0.0    0.0    0.0 NaN    0.0
7      AO  2000  186.0  999.0  1003.0  912.0  482.0  312.0  194.0 NaN  247.0
8      AR  2000   97.0  278.0   594.0  402.0  419.0  368.0  330.0 NaN  121.0
9      AS  2000    NaN    NaN     NaN    NaN    1.0    1.0    NaN NaN    NaN

    f1524   f2534  f3544  f4554  f5564    f65  fu
0     NaN     NaN    NaN    NaN    NaN    NaN NaN
1    16.0     1.0    3.0    0.0    0.0    4.0 NaN
2   414.0   565.0  339.0  205.0   99.0   36.0 NaN
3     1.0     1.0    0.0    0.0    0.0    0.0 NaN
4    11.0    10.0    8.0    8.0    5.0   11.0 NaN
5    24.0    27.0   24.0    8.0    8.0    4.0 NaN
6     0.0     1.0    0.0    0.0    1.0    0.0 NaN
7  1142.0  1091.0  844.0  417.0  200.0  120.0 NaN
8   544.0   479.0  262.0  230.0  179.0  216.0 NaN
9     NaN     NaN    NaN    1.0    NaN    NaN NaN
  country  year variable  value gender age_group
0      AD  2000     m014    0.0      m       014
1      AE  2000     m014    2.0      m       014
2      AF  2000     m014   52.0      m       014
3      AG  2000     m014    0.0      m       014
4      AL  2000     m014    2.0      m       014

In [72]:
# Melt ebola: ebola_melt
ebola=pd.read_csv('ebola.csv')
ebola_melt = pd.melt(ebola, id_vars=['Date', 'Day'], var_name='type_country', value_name='counts')

# Create the 'str_split' column
ebola_melt['str_split'] = ebola_melt.type_country.str.split('_')

# Create the 'type' column
ebola_melt['type'] =ebola_melt['str_split'].str.get(0)

# Create the 'country' column
ebola_melt['country'] = ebola_melt['str_split'].str.get(1)

# Print the head of ebola_melt
print(ebola_melt.head())

         Date  Day  type_country  counts        str_split   type country
0    1/5/2015  289  Cases_Guinea  2776.0  [Cases, Guinea]  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  [Cases, Guinea]  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  [Cases, Guinea]  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  [Cases, Guinea]  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  [Cases, Guinea]  Cases  Guinea

In [127]:
"""Concat"""
# Concatenate uber1, uber2, and uber3: row_concat
row_concat = pd.concat([uber1,uber2,uber3])

# Print the shape of row_concat
print(row_concat.shape)

# Print the head of row_concat
print(row_concat.head())

(297, 5)
     Base BaseX         Date/Time      Lat      Lon
0  B02512   NaN  4/1/2014 0:11:00  40.7690 -73.9549
1  B02512   NaN  4/1/2014 0:17:00  40.7267 -74.0345
2  B02512   NaN  4/1/2014 0:21:00  40.7316 -73.9873
3  B02512   NaN  4/1/2014 0:28:00  40.7588 -73.9776
4  B02512   NaN  4/1/2014 0:33:00  40.7594 -73.9722

In [84]:
import glob 

# Write the pattern: pattern
pattern = '*.csv'

# Save all file matches: csv_files
csv_files = glob.glob(pattern)

# Print the file names
print(csv_files)

# Load the second file into a DataFrame: csv2
csv2 = pd.read_csv(csv_files[1])

# Print the head of csv2
print(csv2.head())

['airquality.csv', 'cars.csv', 'digits.csv', 'dob_job_application_filings_subset.csv', 'ebola.csv', 'movie_metadata.csv', 'one.csv', 'tb.csv', 'uber1.csv', 'uber2.csv', 'uber3.csv', 'winequality-red.csv']
  Unnamed: 0  cars_per_cap        country drives_right
0         US           809  United States         True
1        AUS           731      Australia        False
2        JAP           588          Japan        False
3         IN            18          India        False
4         RU           200         Russia         True

In [128]:
"""Merge"""
# For one-to-one
# Merge the DataFrames: o2o
o2o = pd.merge(left=uber1, right=uber2, left_on='Base', right_on='BaseX')
o2o.head()

# Below is the code without output due to the non-availability of dataset,mentioning the sample
# For one-to-many/many-to-one
# Merge the DataFrames: m2o
m2o = pd.merge(left=uber1,right=uber2,left_on='column in left',right_on='column in right')

# Merge site and visited: m2m
m2m = pd.merge(left=uber1, right=uber2, left_on='column in left', right_on='column in right')

# Merge m2m and survey: m2m
m2m = pd.merge(left=m2m, right=uber3, left_on='column in left', right_on='column in right')

,Date/Time_x,Lat_x,Lon_x,Base_x,Date/Time_y,Lat_y,Lon_y,Base_y,BaseX
0,4/1/2014 0:11:00,40.769,-73.9549,B02512,5/1/2014 0:02,40.7521,-73.9914,B02512,B02512
1,4/1/2014 0:11:00,40.769,-73.9549,B02512,5/1/2014 0:06,40.6965,-73.9715,B02512,B02512
2,4/1/2014 0:11:00,40.769,-73.9549,B02512,5/1/2014 0:15,40.7464,-73.9838,B02512,B02512
3,4/1/2014 0:11:00,40.769,-73.9549,B02512,5/1/2014 0:17,40.7463,-74.0011,B02512,B02512
4,4/1/2014 0:11:00,40.769,-73.9549,B02512,5/1/2014 0:17,40.7594,-73.9734,B02512,B02512

In [130]:
"""Datatype handling"""
# reading CSV
tips=pd.read_csv('tips.csv')
# Convert 'total_bill' to a numeric dtype
tips['total_bill'] = pd.to_numeric(tips['total_bill'], errors='coerce')

# Convert 'tip' to a numeric dtype
tips['tip'] = pd.to_numeric(tips['tip'],errors='coerce')

# Print the info of tips
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.4+ KB
None

In [133]:
"""Using regex"""
# Import the regular expression module
import re

# Compile the pattern: prog
prog = re.compile('\d{3}-\d{3}-\d{4}')

# See if the pattern matches
result = prog.match('123-456-7890')
print(bool(result))

# See if the pattern matches
result = prog.match('1123-456-7890')
print(bool(result))
# Find the numeric values: matches
matches = re.findall('\d+', 'The receipe calls for 10 strawberries and 1 banana')

# Print the matches
print(matches)
# Write the first pattern
pattern1 = bool(re.match(pattern='\d{3}-\d{3}-\d{4}', string='123-456-7890'))
print(pattern1)

# Write the second pattern
pattern2 = bool(re.match(pattern='\$\d*\.\d*', string='$123.45'))
print(pattern2)

# Write the third pattern
pattern3 = bool(re.match(pattern='[A-Z]', string='Australia'))
print(pattern3)

True
False
['10', '1']
True
True
True

In [134]:
"""Custom function for cleaning data"""
# Define recode_sex()
def recode_sex(sex_value):

    # Return 1 if sex_value is 'Male'
    if sex_value== 'Male':
        return 1
    
    # Return 0 if sex_value is 'Female'    
    elif sex_value == 'Female':
        return 0
    
    # Return np.nan    
    else:
        return np.nan

# Apply the function to the sex column
tips['sex_recode'] = tips.sex.apply(recode_sex)

# Print the first five rows of tips
print(tips.head())

   total_bill   tip     sex smoker  day    time  size  sex_recode
0       16.99  1.01  Female     No  Sun  Dinner     2           0
1       10.34  1.66    Male     No  Sun  Dinner     3           1
2       21.01  3.50    Male     No  Sun  Dinner     3           1
3       23.68  3.31    Male     No  Sun  Dinner     2           1
4       24.59  3.61  Female     No  Sun  Dinner     4           0